{%extends 'app/base.html'%}  
 <!--importar los links  CSS -->
{% block link %}
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/detail_product.css' %}">
{% endblock %}

{%block title %} 
    {{producto.name_product}} 
{% endblock %}

{% block content %}
    <button>
        <a href="{% url 'index' %}"> Volver al inicio</a>
    </button>
    <div class="producto-main">
        <h2>{{producto.name_product}}</h2>
        <img src="{{producto.photo_product.url}}" alt="imagen{{product.name_product}}">
        <div class="descripcion">
            <p>{{producto.price_product}}</p>
            <p>{{producto.description_product}}</p>
            <span>{{producto.pub_date_product}}</span>
        </div>
        <br>
    </div>
    <div class="recomendaciones">
        {% if productos %}
            {% for producto in productos %}
            <!-- para no poner texto directo ponemos el url, ponemos la funcion de url -->
                <div class="producto">
                    <p>{{producto.name_product}}</p>
                    <!-- para poner la url:
                    'detail' -> nombre de la url, no es el metodo, es el name
                    producto.id -> el parametro que hemos mandado en la url -->
                    <a href="{% url 'detail' producto.id %}">
                    <img src="{{producto.photo_product.url}}" alt="imagen{{product.name_product}}">
                    </a>
                    <p>{{producto.price_product}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>
{% endblock %}