{%extends 'app/base.html'%}  
 <!--importar los links  CSS -->
{% block link %}
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">
{% endblock %}

{%block title %}Productos{% endblock %}

<!-- exportar el css -->
{% block content %}
<h1 class="titulo">Estos son los productos</h1>
    {% if productos %}
    <div class="productos">
        {% for producto in productos %}
        <!-- para no poner texto directo ponemos el url, ponemos la funcion de url -->
            <div class="producto">
                <!-- para poner la url:
                'detail' -> nombre de la url, no es el metodo, es el name
                producto.id -> el parametro que hemos mandado en la url -->
                <a href="{% url 'detail' producto.id %}">
                <img src="{{producto.photo_product.url}}" alt="imagen de {{producto.name_product}}">
                </a>
                <p>{{producto.name_product}}</p>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}



