<!-- un echo solo es con doble llave -->
<style>
    
    body{
        margin: 0 auto;
        text-align: center;
    }
    p,h1{
        margin: 0 auto;
       
        padding: 20px;
    }
    h1{
        width: 80%;
        font-size: 100px;
    }
    p{
        width: 65%;
        text-align: justify;
        font-size: 35px;
    }
    img{
        width: 70%;
    }

</style>
{% extends 'noticiero/base.html' %}
{% block title %}
{{noticia.titulo}}
{% endblock %}

{% block content %}
    <h1>{{ noticia.titulo }}</h1>
    <hr>
    <p> {{ noticia.descripcion}}</p>
    <img src="{{noticia.img1.url}}"  alt="foto" >
{% endblock %}